@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, p {
	margin: 0;
	padding: 0;
}

table {
    border-collapse: collapse;
}

ul, ol {
	list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    vertical-align: top;
}

.top_head, .tab_head{
    position: absolute;
    z-index: -1;
    color: transparent;
}

.tab:after {
    display: block;
    content: '';
    clear: both;
}

.tab_item {
    float: left;
}

.tab_btn {
    width: 245px;
    height: 80px;
    font-size: 24px;
    color: #885655;
    background-color: #753b3a;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-top: 0;
    border-bottom: 0;
    outline: 0;
    cursor: pointer;
    padding: 0;
}

.tab_item + .tab_item .tab_btn {
    width: 246px;
    margin-left: -1px;
}

.tab_item .tab_btn:hover, .tab_item.is_on .tab_btn {
    font-weight: bold;
    background-color: #4f2a2b;
    border-color: #4f2a2b;
    color: #fff;
}

.tab_item:hover + .tab_item .tab_btn, .tab_item.is_on + .tab_item .tab_btn {
    border-left: 1px solid #4f2a2b;
}

.tab_panel_wrap {
    width: 907px;
    display: none;
    height: 419px;
    outline: 0;
}

.tab_panel_wrap.is_on{
    display: block;
    padding: 35px;
    border: 1px solid #e4e4e4;
    background-image: url("./bg_tab_ui.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}


.tab_panel_wrap h3 {
    font-size: 40px;
    margin-top: 50px;
}

.meet_title {
    font-size: 20px;
    font-weight: bold;
    color: #777;
    margin-top: 10px;
}

.meet_sub {
    margin: 30px 0;
}

.meet_sub > li{
    margin: 10px 0;
}

.prepare_title {
    display: inline-block;
    vertical-align: top;
}

.prepare_content {
    color: #bbb;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-weight: bold;
}

.submit {
    margin-top: 20px;
    padding: 15px 35px;
    border: 1px bolid #000;
    font-weight: bold;
    font-size: 24px;
    background-color: #fff;
}